@media only screen and (max-width: 628px) {
	.custom-div {
		text-align: center;
	}

	.custom-size {
		font-size: 70px !important;
	}

	html, body {
		max-width: 100%;
		overflow-x: hidden;
	}

	.map-responsive{
		overflow:hidden;
		padding-bottom:56.25%;
		position:relative;
		height:0;
	}
	.map-responsive iframe{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
	.desktop-image {
		display: none;
	}
}
@media only screen and (min-width: 629px){
	.mobile-image {
		display: none;
	}
}
